intelxdk.config.android.xml
intelxdk.config.crosswalk.xml
intelxdk.config.ios.xml
intelxdk.config.windows8.xml
*.xdke
*.mobileprovision
/play-websockets-sample-master/nbproject/private/
/play-websockets-sample-master/.settings
/play-websockets-sample-master/.classpath
/play-websockets-sample-master/.gitignore
/play-websockets-sample-master/.project
/play-websockets-sample-master/build.sbt
/play-websockets-sample-master/Procfile
/play-websockets-sample-master/README.md
/play-websockets-sample-master/target
/play-websockets-sample-master/logs
/play-websockets-sample-master/project
/play-websockets-sample-master/public
/play-websockets-sample-master/conf
/play-websockets-sample-master/*
/play-websockets-sample-master/*.classpath
/play-websockets-sample-master/*.gitignore
/play-websockets-sample-master/*.project
/play-websockets-sample-master/*.sbt
/play-websockets-sample-master/*.md
